<form [formGroup]="form" (ngSubmit)="doUpload()">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        type="text"
        placeholder="Your title pls"
        matInput
        formControlName="title"
      />
    </mat-form-field>


      <input
        type="file"
        placeholder="Your email pls"
        
        formControlName="file"
        #toUpload
      />


    <div class="space-around" style="margin:10px;">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
      >
        Upload
      </button>
      <button type="button" mat-raised-button color="accent">
        Cancel <mat-icon fontIcon="cancel"></mat-icon>
      </button>
    </div>
  </form>