<mat-toolbar color="primary">
  <mat-icon fontIcon="menu_book" (click)="myDrawer.toggle()"></mat-icon>
  <mat-icon fontIcon="menu" (click)="toggleSidebar()"></mat-icon>
  <span>My Toolbar</span>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #myDrawer>
    <mat-list>
      <mat-list-item [routerLink]="['/']"  (click)="myDrawer.toggle()">Register</mat-list-item>
      <mat-list-item [routerLink]="['/upload']" (click)="myDrawer.toggle()">Upload</mat-list-item>
    </mat-list>
 
  </mat-drawer>

  <div class="full-height">
  <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
